.today_humor_label {
  padding: 1em 0;
}

.today_humor_wrapper {
  width: 100%;
  min-height: 88px;
  background-color: $gray300;
  border-radius: 10px;
  padding: 18px;
}


@keyframes skeleton {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  20% {
    opacity: 0.25;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.5;
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
