@mixin defaultButton {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 30px;
  box-shadow: 0 0 4px 0 rgba(47, 47, 47, 0.5);
  width: 130px;
  height: 130px;

  &:hover {
    filter: brightness(95%);
  }
}

.O {
  @include defaultButton;
  background-color: $primary;
}

.X {
  @include defaultButton;
  background-color: $white;
}