@import "Typography.mixin";

.h1 {
  @include h1;
}

.h2 {
  @include h2;
}

.h3 {
  @include h3;
}

.h4 {
  @include h4;
}

.h5 {
  @include h5;
}

.body1 {
  @include body1;
}

.body2 {
  @include body2;
}

.caption {
  @include caption;
}

.light {
  @include light;
}

.thin {
  @include thin;
}

.regular {
  @include regular;
}

.medium {
  @include medium;
}

.bold {
  @include bold;
}

.primary {
  color: $primary;
}

.black100 {
  color: $black100;
}

.black200 {
  color: $black200;
}

.black300 {
  color: $black300;
}

.black400 {
  color: $black400;
}

.black500 {
  color: $black500;
}

.gray100 {
  color: $gray100;
}

.gray700 {
  color: $gray700;
}

.gray900 {
  color: $gray900;
}

.white {
  color: $white;
}

