.bottom_navigation_container {
  display: none;
  background-color: $primary;
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 60px;

  .navigation_items_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .bottom_navigation_container {
    display: inline-block;
  }
}