$black100: #000;
$black200: #1e1e1e;
$black300: #222222;
$black400: #323232;
$black500: #444343;

$white: #fff;
$gray100: #bdbdbd;
$gray300: #efefef;
$gray700: #737373;
$gray750: #878787;
$gray800: #888888;
$gray900: #969696;

$primary: #00c7ae;

$line: #ededed;
